.trigger {
    padding: 8px;
    margin-left: 15px;
}

.trigger i{
    color: var(--white);
    font-size: 18px;
    transition: all 0.3s ease;
}

.isScrolled i {
    color: var(--black);
}

.trigger:hover i {
    color: var(--primary-color);
    background: rgba(255, 255, 255, 0.05);
    transform: scale(1.1);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    visibility: hidden;
}

.open {
    visibility: visible;
}

.frame {
    font-family: "Playfair Display", cursive, sans-serif;
    width: 300px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.frame.Active {
    opacity: 1;
}

.cartHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.cartTitle {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-primary);
    margin: 0;
}

.closeBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.closeBtn i {
    font-size: 2rem;
    color: var(--text-muted);
    transition: scale 0.5s ease, color 0.5s ease;
}

.closeBtn:hover {
    background: rgba(255, 255, 255, 0.1);
}

.closeBtn:hover i {
    color: var(--primary-color);
    transform: scale(1.1);
}

.group {
    gap: 20px;
    height: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.groupItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.groupTitle {
    font-size: 3rem;
}

.group p {
    color: var(--decription-text);
    line-height: 20px;
    font-weight: 200;
    font-family:  "Be Vietnam Pro",sans-serif;
}

button.button {
    font-family: "Playserif display";
    padding: 10px 20px;
    border-radius: 20px;
    transition: color 0.5s ease;
}

